html,
body,
#app {
  height: 100%;
  margin: 0px;
  padding: 0px;

}
.main {
  background-color: rgb(208, 208, 208) !important;
}
.el-cart{
  /* //提高优先级 */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  margin-top: 20px !important;
  padding-top: 20px !important;
}
