
  .el-aside {
    background-color: white;
  }
  .el-main {
    background-color: #eaedf1;
  }
  .home-container {
    height: 100%;
  }
  /* // .table{
  //   padding: 10px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  // margin: 10px;
  
  // } */
  .all {
    width:1510px;
    height: 1000px;
  }
  .confirm {
    position: absolute;
    display: flex;
    align-items: center;
  }
  .product {
    width: 100%;
    float: left;
  }
  .product-main {
    display: block;
    margin: 16px;
    padding: 16px;
    border: 1px solid #dddee1;
    border-radius: 6px;
    overflow: hidden;
    background: #aedd81;
    text-align: center;
    position: relative;
  }
  .product-main img {
    width: 100%;
  }
  h4 {
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
  }
  /* .product-main:hover h4{
          color: #0070c9;
      } */
  .product-color {
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #dddee1;
    border-radius: 50%;
    margin: 6px auto;
  }
  .product-cost {
    color: #de4037;
    margin-top: 6px;
  }
  .product-add-cart {
    display: none;
    padding: 4px 8px;
    background: #2d8cf0;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .product-main:hover .product-add-cart {
    display: inline-block;
  }